<launch>
  <arg name="mode" default="action" doc="mode type [debug, action]"/>

  <node pkg="ecp_preproc" type="traffic_detection" name="traffic_detection" output="screen">
    <param if="$(eval mode == 'debug')" name="/is_debug_mode" value="True"/>
    <param if="$(eval mode == 'action')" name="/is_debug_mode" value="False"/>
  </node>
</launch>
